.DS_STORE

# Users will be installing the latest versions, so any tests should
# avoid lock files so we can catch regressions in the ecosystem.
package-lock.json
yarn.lock

# Ignore private files that my otherwise be included (even accidentally)
aws-exports.js
team-provider-info.json

# `amplify init` auto-creates .gitignore with `/node_modules`.
# This ignores node_modules *anywhere*.
node_modules

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
